/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
#license {
    border: 2px solid black;
    border-radius: 24px;
    width: 700px;
    background: linear-gradient(#fdbca2,#eb955d);
}
#content h1 {
    /* border: 2px solid black; */
    font-size: 60px;
    color: #0707bd;
    margin: 32px 32px 12px 16px;
}
#left-side {
    display: inline-block;
    /* border: 2px solid red; */
    width: 64%;
    margin: 0px 0px 32px 18px;
    font-family: sans-serif;
}
#right-side {
    display: inline-block;
    /* border: 2px solid blue; */
    width: 30%;
    margin: 0px 18px 0px 0px;
}
#left-side h4 {
    /* border: 2px solid green; */
    background-color: blue;
    padding: 6px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    margin: 0%;
}
/* #id-and-expiration {
    border: 2px solid green;
} */
#address {
    /* border: 2px solid blue; */
    font-weight: bold;
    padding: 12px 0px 8px;
    font-family: sans-serif;
}
/* #personal-info {
    border: 2px solid lightblue;
} */
#license1 {
    /* border: 2px solid black; */
    display: inline-block;
    width: 48%;
    margin: 8px 0px;
}
#expires1 {
    /* border: 2px solid blue; */
    display: inline-block;
    width: 48%;
}
#small-pic {
    /* border: 2px solid red; */
    display: inline-block;
    width: 20%;
    opacity: 0.5;
}
#small-pic img {
    width: 100%;
}
#data-fields {
    /* border: 2px solid black; */
    display: inline-block;
    width: 78%;
}
#data-left {
    /* border: 2px solid purple; */
    display: inline-block;
    width: 48%;
    margin: 4px 0px 6px 4px;
}
#data-right {
    /* border: 2px solid green; */
    display: inline-block;
    width: 48%;
}
#right-side img {
    /* border: 2px solid lightblue; */
    width: 100%;
}
#donor {
    /* border: 2px solid red; */
    display: inline-block;
    color: red;
}
#real-id {
    /* border: 2px solid purple; */
    display: inline-block;
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
    margin-left: 18px;
    color: white;
    width: 25px;
    height: 25px;
}
div #id-and-expiration {
    color: blue;
}
span {
    color: red;
    font-weight: bold;
}
div #data-fields {
    color: blue;
}
div #signature {
    color: black;
    padding-top: 6px;
}
#signature {
    /* border: 2px solid blue; */
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
#donor-and-real-id {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
}