* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "mooli";
    background-color: #a6d3ec;
}
#body-container {
    max-width: 80vw;
    margin: 48px auto;
    text-align: center;
    background-color: white;
}
#heading h4 {
    padding-top: 24px
}
#heading h1 {
    font-size: 60px;
    margin-top: 12px;
    background-color: #a6d3ec;
    padding: 16px;
    font-family: "bebas neue";
}
#pics {
    display: flex;
    justify-content: center;
    margin: 42px;
}
#pics p {
    padding: 32px;
    font-weight: bold;
    font-size: 50px;
    font-family: "bebas neue"
}
#pics img {
    height: 250px;
}
#main-info h2 {
    font-size: 32px;
    background-color: #a6d3ec;
}
.info {
    font-size: 24px;
}
#buttons {
    margin: 36px;
}
#buttons a {
    background-color: #a6d3ec;
    color: black;
    text-decoration: none;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    margin: 36px;
    border-radius: 5px;
    text-align: center;
    border: 4px solid #a6d3ec;
    transition:
        background-color 0.5s,
        color 0.5s;
}
#buttons a:hover {
    background-color: transparent;
}
#buttons a:active {
    background-color: #26749e;
}
#questions {
    padding-bottom: 24px;
}

/* MEDIA QUERIE */

@media screen and (max-width: 700px) {
    #heading h1 {
        font-size: 32px;
    }
    #body-container #pics {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    #main-info h2 {
        font-size: 24px;
    }
    .info {
        font-size: 20px;
    }
    #buttons {
        display: flex;
        flex-direction: column;
    }
}