* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Playfair Display";
}
#portfolio {
    max-width: 1200px;
    margin: 48px auto;
    text-align: center;
}
#hero {
    background-image: url("../images/MattePaintingProject_6018_ETorres_Final.jpg");
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
#hero .hero-class {
    text-align: center;
    padding: 32px;
}
#hero h2 {
    font-size: 60px;
    margin-bottom: 3vh;
    text-shadow: 2px 2px black;
}
#hero h4 {
    font-size: 28px;
    text-shadow: 2px 2px black;
}
#hero a {
    font-size: 22px;
    display: inline-block;
    background-color: black;
    text-decoration: none;
    padding: 20px 48px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 
    background-color 0.5s,
    color 0.5s;
}
#hero a:hover {
background-color: transparent;
color: #000000;
}
.my-work {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.my-work img {
    height: 400px;
    flex: 1;
    object-fit: cover;
}
#daydreams {
    display: flex;
    width: 325px;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: antiquewhite;
    padding: 150px 34px 115px;
    box-shadow: -8px 8px #f8dcb7;
}
#billie {
    display: flex;
    width: 625px;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: antiquewhite;
    padding: 165px 65px 140px;
    box-shadow: 8px 8px #f8dcb7;
}
.cards {
    max-width: 551px;
    background-color: antiquewhite;
    margin: 55px 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.cards img {
    width: 100%;
}
.cards h2 {
    padding: 0px 12px;
    font-family: "Playfair Display";
}
.cards p {
    padding: 0px 24px;
}
.cards a {
    color: #f8dcb7;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: #000000;
    font-size: 22px;
    display: inline-block;
    padding: 20px;
    width: 100%;
    border: 3px solid antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    transition: 
        background-color 0.5s,
        color 0.5s;
}
.cards a:hover {
    background-color: transparent;
    color: #000000;
}
#portfolio h1 {
    margin: 42px;
}
#card-2 p {
    padding-top: 22px;
}
#card-1 {
    box-shadow: -8px -8px #f8dcb7;
}
#card-2 {
    box-shadow: 8px -8px #f8dcb7;
}
