#purple-grapes {
    text-align: center;
}
#dark-purple1 {
    background-color: #260C1A;
    color: antiquewhite;
    text-align: center;
    padding: 24px;
}
#eggplant {
    background-color: #432E36;
    text-align: center;
    padding: 24px;
}
#tea-rose {
    background-color: #EDBFC6;
    text-align: center;
    padding: 24px;
}
#greenish {
    text-align: center;
}
#reseda {
    background-color: #5B7553;
    text-align: center;
    padding: 24px;
}
#cambridge {
    background-color: #8EB897;
    text-align: center;
    padding: 24px;
}
#tea-green {
    background-color: #C3E8BD;
    text-align: center;
    padding: 24px;
}
#warm-weather {
    text-align: center;
}
#cosmos {
    background-color: #531513;
    text-align: center;
    padding: 24px;
}
#blood-red {
    background-color: #69140E;
    text-align: center;
    padding: 24px;
}
#brown {
    background-color: #A44200;
    text-align: center;
    padding: 24px;
}